@import url("https://fonts.googleapis.com/css2?family=Gruppo:wght@400;600;700&family=Noto+Sans:wght@400;600;700&display=swap");

* {
  padding: 0;
  border: 0;
  margin: 0;
}

:root {
  --color-1: #c09cd9;
  --color-2: #7d60a6;
  --color-3: #353ff2;
  --color-4: #a69c0f;
  --color-5: #d9cc1e;
  --color-6: #0d0d0d;
  --color-7: rgba(13, 13, 13, 0.5);
  --color-8: white;
  --color-9: #dcdcdc;
  --color-10: #a9a9a9;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--color-9);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}
h5.center-align {
  color: var(--color-6);
  font-family: "Noto Sans", sans-serif;
}

.main-container {
  margin-top: 24px;
  margin-bottom: 24px;
}

/*--Navigation--*/

.nav-wrapper {
  background-color: var(--color-2);
  box-shadow: 0px 0px 10px 5px var(--color-10);
  min-height: 60px;
}

a.brand-logo {
  font-family: "Gruppo", sans-serif;
  font-size: 24px;
  color: var(--color-9);
  font-weight: 700;
}

.nav-wrapper i.material-icons.logo-icon {
  color: var(--color-5);
  margin-right: 0 !important; /*--used !important to overwrite materialize settings--*/
  font-size: 42px;
}

.sidenav {
  background-color: var(--color-2);
}

.sidenav li a {
  color: var(--color-9);
}

.sidenav li a.brand-logo,
.sidenav li a.brand-logo i {
  color: var(--color-5);
  font-size: 24px;
}

i.material-icons.menu-icon {
  color: var(--color-9);
}
nav li a {
  color: var(--color-9);
}

.sidenav li a:hover,
nav li a:hover,
a.brand-logo:hover {
  color: var(--color-4);
}
/*-- Section for flashed messages --*/
div.card-panel.flashed_messages {
  background-color: var(--color-1);
  box-shadow: 0px 0px 10px 5px var(--color-10);
}
span.white-text {
  line-height: 18px;
  font-size: 18px;
  font-weight: bold;
}
/*-- Register page --*/

.btn.submit-button {
  background-color: var(--color-1);
}
i.material-icons.form-icon.prefix {
  color: var(--color-5);
  text-shadow: 2px 2px 2px var(--color-7);
}

/*-- new-goal page --*/

div.card-panel.new-goal-panel {
  background-color: var(--color-8);
  box-shadow: 0px 0px 10px 5px var(--color-10);
}

i.material-icons.new-form-icon.prefix {
  color: var(--color-3);
  text-shadow: 2px 2px 2px var(--color-7);
}

button.btn.new-submit-button {
  background-color: var(--color-5);
  color: var(--color-8);
  font-weight: bold;
}

/*-- footer --*/
.footer-copyright {
  background-color: var(--color-4);
}

.page-footer {
  background-color: var(--color-2);
  color: var(--color-8);
}

a.footer-links i {
  color: var(--color-9);
  font-size: 24px;
}

a.footer-links i:hover {
  color: var(--color-4);
}

/*-- home page --*/
h4.home-page {
    color: var(--color-1);
    line-height: 36px;
}

.drawing {
    overflow: hidden;
}

.home-text {
    color: var(--color-6);
    line-height: 24px;
    margin: 40px 0 15px;
}

.parallax-container.container-1 {
      max-height: 400px;
    }

.parallax-container.container-2 {
      max-height: 200px;
    }

/*-- set goals page --*/
i.material-icons.logo-icon {
  display: flex;
  align-items: center;
  color: var(--color-5);
}

.list-inline {
  padding-left: 0;
  margin-left: -2px;
  list-style: none;
}
.list-inline > li {
  display: inline-block;
  padding-right: 2px;
  padding-left: 2px;
}

i.tooltipped {
  font-size: 14px;
  color: var(--color-10);
  padding: 10px;
}
/*-- edit page --*/
a.btn.cancel-submit-button {
    background-color: var(--color-1);
}
button.btn.edit-submit-button {
    background-color: var(--color-5);
}

/* Small devices (landscape phones, more than 576px)*/
@media (min-width: 370px) {
  a.brand-logo {
    font-size: 32px;
  }
}
/* Medium devices (tablets, more than 768px)*/
@media (min-width: 768px) {
  a.brand-logo {
    font-size: 38px;
  }
  .sidenav li a.brand-logo,
  .sidenav li a.brand-logo i {
    font-size: 32px;
  }
  i.tooltipped {
  font-size: 18px;
}
}
