<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css')}}"
      type="text/css"
    />
    {% block styles %} {%endblock %}
    <title>SetGoals</title>
  </head>
  <body>
    
      <header>

          <!--Desktop Navbar-->
          <nav>
            <div class="nav-wrapper">
            <div class="container">
              <a href="{{ url_for('set_goals') }}" class="brand-logo"
                ><i class="material-icons logo-icon prefix">radio_button_checked</i>SetGoals</a
              >
              <a href="#" data-target="mobile-demo" class="sidenav-trigger"
                ><i class="material-icons menu-icon">more_vert</i></a
              >
              <ul class="right hide-on-med-and-down">
                <li><a href="{{ url_for('set_goals') }}">Home</a></li>
                <li><a href="#">New Goal</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Logout</a></li>
                <li><a href="{{ url_for('register') }}">Register</a></li>
              </ul>
            </div>
            </div>
          </nav>
        
        <!--Mobile sidenav-->
        <ul class="sidenav" id="mobile-demo">
          <li><a href="#!" class="brand-logo"
                ><i class="material-icons logo-icon prefix">radio_button_checked</i>SetGoals</a
              ></li>
          <li><a href="{{ url_for('set_goals') }}">Home</a></li>
          <li><a href="#">New Goal</a></li>
          <li><a href="#">Login</a></li>
          <li><a href="#">Logout</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
        </ul>
      </header>
      {% block content %} {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %} {% endblock %}
  </body>
</html>
