{% extends "base.html" %} {% block content %}
<h5 class="center-align">Update your Goal</h5>
<div class="container main-container">
  <div class="row">
    <form
      class="col s12 m8 offset-m2"
      method="POST"
      action="{{ url_for('edit_goal', goal_id=goal._id) }}"
    >
      <div class="card-panel new-goal-panel">
        <!-- Goal title -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons new-form-icon prefix">title</i>
            <input
              id="goal_title"
              name="goal_title"
              type="text"
              value="{{ goal.goal_title }}"
              minlength="5"
              maxlength="30"
              required
            />
            <label for="goal_title">Title</label>
          </div>
        </div>
        <!-- Category - dropdown menu with images from Materialize -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons new-form-icon prefix">topic</i>
            <select
              class="icons validate"
              id="category_name"
              name="category_name"
              required
            >
              <option value="" disabled>Choose a category</option>
              {% for category in categories %} 
                {% if category.category_name == goal.category_name %}
                    <option value="{{ category.category_name }}" selected>
                    {{ category.category_name }}
                    </option>
                {% else %}
                    <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                {% endif %}
              {% endfor %}
            </select>
            <label for="category_name">Goal Category</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons new-form-icon prefix">image</i>
            <input id="goal_image" name="goal_image"value="{{ goal.goal_image }}" type="url"/>
            <label for="goal_image">{{ goal.goal_image }}</label>
          </div>
        </div>
        <!-- textarea from Materialize to include description of Goal -->
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons new-form-icon prefix">comment</i>
            <textarea
              id="goal_description"
              name="goal_description"
              class="materialize-textarea"
              value="{ goal.goal_description }}"
              minlength="3"
              maxlength="80"
              required
            ></textarea>
            <label for="goal_description">{{ goal.goal_description }}</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons new-form-icon prefix">today</i>
            <input
              id="due_date"
              name="due_date"
              type="text"
              class="datepicker validate"
              value="{{ goal.due_date }}"
            />
            <label for="due_date">End date (Optional)</label>
          </div>
        </div>
        <div class="row">
          <!--Cancel button-->
          <div class="col s6 right-align">
            <a
              href="{{ url_for('set_goals')}}"
              class="btn cancel-submit-button waves-effect waves-light"
            >
              Cancel
              <i class="material-icons right">clear</i>
            </a>
          </div>
          <!--Edit button-->
          <div class="col s6 left-align">
            <button
              class="btn edit-submit-button waves-effect waves-light"
              type="submit"
            >
              Edit Goal
              <i class="material-icons right">check</i>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}
</div>
