{% extends "base.html" %} {% block content %}

<ul class="collapsible">

  {% for goal in goals %}
  {% if session.user|lower == goal.author|lower %}
  <li>
    <div class="collapsible-header">
      <div class="container">
        <div class="row">
          <div class="col s1 ">
            <i class="material-icons logo-icon">radio_button_checked</i>
          </div>
          <div class="col s9">
            <div class="row">
              <div class="col m6">
                <h5 class="center-align">
                 {{ goal.goal_title }}
                </h5>
              </div>
              <div class="col m6 center-align">
                {{ goal.due_date }}
              </div>
            </div>
          </div>
          <div class="col s1 ">
           <a href="{{ url_for('edit_goal', goal_id=goal._id) }}"> <i class="fas fa-pencil-alt tooltipped" data-position="bottom" data-tooltip="edit"></i></a>
          </div>
          <div class="col s1 ">
            <a href="{{ url_for('delete_goal', goal_id=goal._id) }}"><i class="fas fa-trash-alt tooltipped" data-position="bottom" data-tooltip="delete"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="collapsible-body">
      <strong> {{ goal.goal_title }}</strong>
      <p>{{ goal.goal_description }}</p>
      <p><em>{{ goals.author }}</em></p>
    </div>
  </li>
  {% endif %}
  {% endfor %}
  
</ul>
{% endblock %}
